<h3>Manage Users</h3>
<table>
  <tr>
    <th>User Name</th>
    <th>User Email</th>
    <th>Ward</th>
    <th>Flags</th>
    <th>Delete User</th>
  </tr>
  <tr>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
  </tr>
  <tr>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
  </tr>
</table>




<!-- THIS IS HOW I MADE MY EDITABLE TABLE DYNAMICALLY WITH UPDATE AND DELETE BUTTONS -->
<!-- <div ng-show="ac.userEmail === 'password'">
    <h4 id="blankHeading"> Blanks Waiting Approval: </h4>
      <table id="adminTable" ng-repeat="blank in ac.adminBlankFactoryObject.list">
        <tr id="adminTable">
          <td class="adminTd">
            <h5 class="titleCenter"> Blank Stats </h5>
            <div>
              <label for="mfgName"> MFG Name: </label>
                <input type="text" name="mfgName" placeholder="mfg name" ng-model="blank.mfgname">
            </div>
            <div>
              <label for="blankName"> Blank Name: </label>
                <input type="text" name="blankName" placeholder="blank name" ng-model="blank.blankname">
            </div>
            <div>
              <label for="blankLength"> Blank Length: </label>
                <input type="text" name="blankLength" placeholder="blank length" ng-model="blank.blanklength">
            </div>
            <div>
              <label for="blankMaterial"> Blank Material: </label>
                <input type="text" name="blankMaterial" placeholder="blank material" ng-model="blank.blankmaterial">
            </div>
            <div>
              <label for="handleLength"> Handle Length: </label>
                <input type="text" name="handleLength" placeholder="handle length" ng-model="blank.handlelength">
            </div>
          </td>
          <td class="adminTd">
            <h5 class="titleCenter"> Guide Sizes </h5>
              <div>
                <label for="tipTop"> TipTop: </label>
                  <input type="text" name="tipTop" placeholder="guide tiptop" ng-model="blank.guidesizetiptop">
              </div>
              <div>
                <label for="second"> Second: </label>
                  <input type="text" name="second" placeholder="guide second" ng-model="blank.guidesizetwo">
              </div>
              <div>
                <label for="third"> Third: </label>
                  <input type="text" name="third" placeholder="guide third" ng-model="blank.guidesizethree">
              </div>
              <div>
                <label for="fourth"> Fourth: </label>
                  <input type="text" name="fourth" placeholder="guide fourth" ng-model="blank.guidesizefour">
              </div>
              <div>
                <label for="fifth"> Fifth: </label>
                  <input type="text" name="fifth" placeholder="guide fifth" ng-model="blank.guidesizefive">
              </div>
              <div>
                <label for="sixth"> Sixth: </label>
                  <input type="text" name="sixth" placeholder="guide sixth" ng-model="blank.guidesizesix">
              </div>
            </td>
            <td class="adminTd">
              <h5 class="titleCenter"> Guide Spacing </h5>
                <div>
                  <label for="tiptopSecond"> Tip Top - Second: </label>
                    <input type="text" name="tiptopSecond" placeholder="measurement 1st-2nd" ng-model="blank.onetwo">
                </div>
                <div>
                  <label for="secondThird"> Second - Third: </label>
                    <input type="text" name="secondThird" placeholder="measurement 2nd-3rd" ng-model="blank.twothree">
                </div>
                <div>
                  <label for="thirdFourth"> Third - Fourth: </label>
                    <input type="text" name="thirdFourth" placeholder="measurement 3rd-4th" ng-model="blank.threefour">
                </div>
                <div>
                  <label for="fourthFifth"> Fourth - Fifth: </label>
                    <input type="text" name="fourthFifth" placeholder="measurement 4th-5th" ng-model="blank.fourfive">
                </div>
                <div>
                  <label for="fifthSixth"> Fifth - Sixth: </label>
                    <input type="text" name="fifthSixth" placeholder="measurement 5th-6th" ng-model="blank.fivesix">
                </div>
            </td>
            <td class="cert">
              <div>
                <label for="certifyEntry"> Certify Entry </label>
                  <input type="checkbox" ng-model="blank.certified" name="certifyEntry" value="true">
              </div>
            </td>
            <td> <button class="upDelete" type="button" name="button" ng-click="ac.updateAdmin(blank)" > UPDATE </button> </td>
            <td> <button class="upDelete" type="button" name="button" ng-click="ac.deleteAdmin(blank)"> DELETE </button> </td>
          </tr>
        </table> -->
