<!--
/* ============================================================================= *
*        ABOVE TALLY DIV NAVIGATION                                              *
* ============================================================================= */
-->
<div class = "container">
  <div id="mainTopic" class="row">
    <!--//MAIN TOPIC TITLE AND DESCRIPTION//-->
    <div class="col-md-7 topicText">
      <h1>MAIN TOPIC TITLE</h1>
      <p>here is some text that will be associated with the main topic.</p>
    </div>
    <!--//TOP-SIDE CALL TO ACTION ON MOBILE/SMALL SCREEN//-->
    <div class="mobileCTA visible-xs-block">
      <h2 class="dark"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>  Have an Idea?</h2>
      <button ng-click="hc.createIdea()" class = "btn-80" type="button" name="button">START A CONVERSATION!</button>
    </div>
    <!--//TOP-SIDE CALL TO ACTION ON MEDIUM AND LARGE SCREEN//-->
    <div class="visible-md-block visible-lg-block visible-xl-block  col-md-5 callToAction">
      <div class="ctaTitle">
        <h2><i class="fa fa-lightbulb-o" aria-hidden="true"></i>  Have an Idea?</h2>
      </div>
      <div>
        <form class="ctaForm" align="center" action="index.html" method="post">
          <select ng-model="hc.idea.subtopicId">
            <option ng-repeat="subtopic in hc.subTopicObject.list" value="{{subtopic.id}}"> {{subtopic.title}} </option>
          </select>
          <input ng-model="hc.idea.title" type="text" name="" value="" placeholder="Title">
          <textarea ng-model="hc.idea.description" name="comment" placeholder="Description..."form="usrform"></textarea><br>
          <button ng-click="hc.addNewIdea(hc.idea)" class = "btn-cta" type="button" name="button">Add Your Idea!</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--
/* ============================================================================= *
*        TALLY DIV                                                    *
* ============================================================================= */
-->
<div id="tallyDiv" class="container">
  <div class="row">
    <div class="col-md-3">
      <p>Users:</p>
      <span>{{hc.userTally.count.count}}</span>
    </div>
    <div class="col-md-3">
      <p>Ideas Shared:</p>
      <span>{{hc.ideasTally.count.count}}</span>
    </div>
    <div class="col-md-3">
      <p>Comments:</p>
      <span>{{hc.commentsTally.count.sumcount}}</span>
    </div>
    <div class="col-md-3">
      <p>Likes:</p>
      <span>{{hc.likesTally.count.sumcount}}</span>
    </div>
  </div>
</div>

<!--
/* ============================================================================= *
*        SUBTOPIC NAVIGATION                                                    *
* ============================================================================= */
-->
<div ng-include="'/views/templates/subtopicNav.html'"></div>

<!--
/* ============================================================================= *
*        BELOW SUBTOPIC NAVIGATION                                                    *
* ============================================================================= */
-->

<div class = 'cardContainer greyBackground' style="margin:0px;">
  <!--//IDEACARDS SECTION//-->
  <div class = 'container'>
    <h4 class="text-center">DISCOVER SOME OF THE HOTTEST IDEAS</h4>
    <!--//IDEACARD//-->
    <div class="row container">
      <!-- START NG REPEAT BELOW HERE -->
      <div class="singleCard cardCenter col-md-5">
        <div class="card_content">
          <h2>Here is where the title of the idea will go.</h2>
          <p>Here is where a limited expert from the idea post will go. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="author_content">
            <div class ="author_img col-xl-3 col-md-3">
              <p>IMAGE</p>
            </div>
            <div class="author_info cole-xl 9 col-md-9">
              <h4>Author Name</h4>
              <h5>Ward x</h5>
            </div>
          </div>
        </div>
        <div class="love_like row">
          <ul>
            <div class="col-md-6 col-xs-6 actionBtn" style="border-right: 1px solid #eeeeee;">
              <li class="like">
                <span>LIKE</span>
              </li>
            </div>
            <div class="col-md-6 col-xs-6 actionBtn">
              <li class="love">
                <span>LOVE</span>
              </li>
            </div>
          </ul>
        </div>
      </div>

      <div class="singleCard cardCenter col-md-5">
        <div class="card_content">
          <h2>Here is where the title of the idea will go.</h2>
          <p>Here is where a limited expert from the idea post will go. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="author_content">
            <div class ="author_img col-xl-3 col-md-3">
              <p>IMAGE</p>
            </div>
            <div class="author_info cole-xl 9 col-md-9">
              <h4>Author Name</h4>
              <h5>Ward x</h5>
            </div>
          </div>
        </div>
        <div class="love_like row">
          <ul>
            <div class="col-md-6 col-xs-6 actionBtn" style="border-right: 1px solid #eeeeee;">
              <li class="like">
                <span>LIKE</span>
              </li>
            </div>
            <div class="col-md-6 col-xs-6 actionBtn">
              <li class="love">
                <span>LOVE</span>
              </li>
            </div>
          </ul>
        </div>
      </div>

    </div>

    <!--//CALL TO ACTION MOBILE/SMALL SCREEN//-->
    <div class="mobileCTA visible-xs-block">
      <h2 class="dark"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>  Have an Idea?</h2>
      <button ng-click="hc.createIdea()" class = "btn-80" type="button" name="button">START A CONVERSATION!</button>
    </div>

    <!--//CALL TO ACTION MEDIUM AND LARGE SCREEN//-->
    <div class="cta-home row visible-md-block visible-lg-block visible-xl-block">
      <div class="col-md-6 col-xs-12">
        <h3 class="light">HAVE AN IDEA?</h3>
      </div>
      <div class="col-md-6 col-xs-12">
        <button ng-click="hc.createIdea()" type="button" class="btn-100" name="button">START A CONVERSATION</button>
      </div>
    </div>
  </div>
