<h1>add idea view</h1>
<main>
  <select ng-model="ic.newIdea.subtopicTitle">
    <option ng-repeat="subtopic in ic.subTopicObject.list" value="{{subtopic.title}}"> {{subtopic.title}} </option>
  </select>
  <div>
    <label for="idea"> Idea </label>
    <input ng-model="ic.newIdea.idea" type="text" name="idea">
  </div>
  <div>
    <label for="description"> Description </label>
    <input ng-model="ic.newIdea.description" type="text" name="description">
  </div>
    <button ng-click="ic.addNewIdea(ic.newIdea)" type="button"> Add Idea </button>
</main>
