
<!--
/* ============================================================================ *
*        SUBTOPIC NAVIGATION                                                    *
* ============================================================================= */
-->
<div ng-include="'/views/templates/subtopicNav.html'"></div>
<!--
/* ============================================================================ *
*         ADD ADDRESS FORM                                                      *
* ============================================================================= */
-->
<div class = "greybackground">
  <div class = "container">
    <div class="row addressForm">
      <div class="frmTitle">
        <h2>Almost Done!</h2>
      </div>
      <div>
        <form class="basicForm" align="center" action="index.html" method="post">
          <p>Please enter your address!</p>
          <input class="lightGrey" type="text" name="" value="" placeholder="Street Address">
          <input class="lightGrey" type="text" name="" value="" placeholder="City">
          <input class="lightGrey" type="text" name="" value="" placeholder="State">
          <input class="lightGrey" type="text" name="" value="" placeholder="Zip Code">
          <input class="lightGrey" type="text" name="" value="" placeholder="Country"></br>
          <button class = "btn-80-blk" type="button" name="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
=======
<header>
  <img class="authImage" ng-hide="lc.email === NULL" src="{{lc.photo}}">{{lc.email}}
    <button ng-click="lc.login()" ng-show="lc.email === NULL" type="button" name="button"> Login </button>
    <button ng-click="lc.logout()" ng-hide="lc.email === NULL" type="button" name="button"> Logout </button>
</header>

<div ng-hide="lc.email === NULL">
  <h3> Almost Done! </h3>
    <div> Please enter your address </div>
      <label for="street"> Street </label>
      <input ng-model="lc.user.street" type="text" name="street">
      <label for="city"> City </label>
      <input ng-model="lc.user.city" type="text" name="city">
      <label for="state"> State </label>
      <input ng-model="lc.user.state" type="text" name="state">
      <label for="zipCode"> Zip Code</label>
      <input ng-model="lc.user.zipCode" type="text" name="zipCode">
      <!-- <label for="country"> Country </label>
      <input ng-model="lc.user.country" type="text" name="country"> -->
        <button ng-click="lc.addNewUser(lc.user)"type="button" name="button"> ADD ME! </button>
</div>
<br><br><br><br><br><br>

<p>       We use your address to identify the ward in Minneapolis in which you live. If you don't live in Minneapolis, we identify you by other. This provides other users context for the ideas you share on the website, and shows city officials which of their constituents are posting.</p>
