
<div class="subtopicDiv">
  <h3> subtopic 5 (dynamic) </h3>
  <button ng-click="st5c.createIdea()" type="button" name="button"> Create A New Idea </button>
</div>

<div class="">
  <button type="button" name="Liked"> Liked </button>
  <button type="button" name="Loved"> Loved </button>
  <button type="button" name="Comments"> Comments </button>
  <button type="button" name="Flag"> Flag </button>
    <div class=""> Title </div>
    <div class=""> Description </div>
    <div class=""> Author </div>
</div>
