
<!--
/* ============================================================================ *
*        SUBTOPIC NAVIGATION                                                    *
* ============================================================================= */
-->
<div ng-include="'/views/templates/subtopicNav.html'"></div>
<!--
/* ============================================================================ *
*         SUBTOPIC TITLE AND DESCRIPTION DESKTOP                                *
* ============================================================================= */
-->
<div class = "greybackground">
  <div class = "container">
    <div class="row subTopic">

      <div class="visible-md-block visible-lg-block visible-xl-block">
        <!--//SUBTOPIC TITLE AND DESCRIPTION//-->
        <div class="col-md-7 col-lg-7 topicText">
          <h1>SUBTOPIC 1 TITLE</h1>
          <p>here is some text that will be associated with the subtopic.</p>
        </div>
        <!--//CALL TO ACTION ON MEDIUM AND LARGE SCREEN//-->
        <div class="col-md-5 col-lg-5 callToAction">

          <div class="ctaTitle">
            <h2><i class="fa fa-lightbulb-o" aria-hidden="true"></i>  Have an Idea?</h2>
          </div>

          <div>
            <form class="ctaForm" align="center" action="index.html" method="post">
              <select name="Subtopics">
                <option value="subtopic1">Subtopic 1</option>
                <option value="subtopic2">Subtopic 2</option>
                <option value="subtopic3">Subtopic 3</option>
                <option value="subtopic4">Subtopic 4</option>
                <option value="subtopic5">Subtopic 5</option>
              </select>
              <input type="text" name="" value="" placeholder="Title">
              <textarea name="comment" placeholder="Description..."form="usrform"></textarea><br>
              <button class = "btn-cta" type="button" name="button">Add Your Idea!</button>
            </form>
          </div>

        </div>
      </div>
      <!--
      /* ============================================================================ *
      *         SUBTOPIC TITLE AND DESCRIPTION MOBILE                                *
      * ============================================================================= */
    -->
    <div class="visible-xs-block">
      <div class="col-xs-1"></div>
      <div class="col-xs-10 topicText">
        <h1>SUBTOPIC 1 TITLE</h1>
        <p>here is some text that will be associated with the subtopic.</p>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </div>
</div>

<!--
/* ============================================================================= *
*        FILTER                                                                  *
* ============================================================================== */
-->
<div class=" container">
  <form class="filterIdeas" align="left" action="index.html" method="post">
    <select name="Subtopics" class="filterIdeas">
      <option value="placeholder">Filter Ideas By:</option>
      <option value="mostRecent">Most Recent</option>
      <option value="mostLiked">Most Liked</option>
      <option value="mostLoved">Most Loved</option>
      <option value="mostComments">Most Comments</option>
    </select>
  </form>
</div>
<!--
/* ============================================================================= *
*        IDEAS CARDS                                                             *
* ============================================================================== */
-->
<div class = 'cardContainer'>
  <div class = 'container'>
    <!--//IDEACARDS SECTION//-->
    <div class="row container">
      <!-- START NG REPEAT BELOW HERE -->
      <div class="singleCard cardCenter col-md-5">
        <div class="card_content">
          <h2>Here is where the title of the idea will go.</h2>
          <p>Here is where a limited expert from the idea post will go. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="author_content">
            <div class ="author_img col-xl-3 col-md-3">
              <p>IMAGE</p>
            </div>
            <div class="author_info cole-xl 9 col-md-9">
              <h4>Author Name</h4>
              <h5>Ward x</h5>
            </div>
          </div>
        </div>
        <div class="love_like row">
          <ul>
            <div class="col-md-6 col-xs-6 actionBtn" style="border-right: 1px solid #eeeeee;">
              <li class="like">
                <span>LIKE</span>
              </li>
            </div>
            <div class="col-md-6 col-xs-6 actionBtn">
              <li class="love">
                <span>LOVE</span>
              </li>
            </div>
          </ul>
        </div>
      </div>

      <div class="singleCard cardCenter col-md-5">
        <div class="card_content">
          <h2>Here is where the title of the idea will go.</h2>
          <p>Here is where a limited expert from the idea post will go. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="author_content">
            <div class ="author_img col-xl-3 col-md-3">
              <p>IMAGE</p>
            </div>
            <div class="author_info cole-xl 9 col-md-9">
              <h4>Author Name</h4>
              <h5>Ward x</h5>
            </div>
          </div>
        </div>
        <div class="love_like row">
          <ul>
            <div class="col-md-6 col-xs-6 actionBtn" style="border-right: 1px solid #eeeeee;">
              <li class="like">
                <span>LIKE</span>
              </li>
            </div>
            <div class="col-md-6 col-xs-6 actionBtn">
              <li class="love">
                <span>LOVE</span>
              </li>
            </div>
          </ul>
        </div>
      </div>

      <div class="singleCard cardCenter col-md-5">
        <div class="card_content">
          <h2>Here is where the title of the idea will go.</h2>
          <p>Here is where a limited expert from the idea post will go. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="author_content">
            <div class ="author_img col-xl-3 col-md-3">
              <p>IMAGE</p>
            </div>
            <div class="author_info cole-xl 9 col-md-9">
              <h4>Author Name</h4>
              <h5>Ward x</h5>
            </div>
          </div>
        </div>
        <div class="love_like row">
          <ul>
            <div class="col-md-6 col-xs-6 actionBtn" style="border-right: 1px solid #eeeeee;">
              <li class="like">
                <span>LIKE</span>
              </li>
            </div>
            <div class="col-md-6 col-xs-6 actionBtn">
              <li class="love">
                <span>LOVE</span>
              </li>
            </div>
          </ul>
        </div>
      </div>

      <div class="singleCard cardCenter col-md-5">
        <div class="card_content">
          <h2>Here is where the title of the idea will go.</h2>
          <p>Here is where a limited expert from the idea post will go. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="author_content">
            <div class ="author_img col-xl-3 col-md-3">
              <p>IMAGE</p>
            </div>
            <div class="author_info cole-xl 9 col-md-9">
              <h4>Author Name</h4>
              <h5>Ward x</h5>
            </div>
          </div>
        </div>
        <div class="love_like row">
          <ul>
            <div class="col-md-6 col-xs-6 actionBtn" style="border-right: 1px solid #eeeeee;">
              <li class="like">
                <span>LIKE</span>
              </li>
            </div>
            <div class="col-md-6 col-xs-6 actionBtn">
              <li class="love">
                <span>LOVE</span>
              </li>
            </div>
          </ul>
        </div>
      </div>

      <div class="singleCard cardCenter col-md-5">
        <div class="card_content">
          <h2>Here is where the title of the idea will go.</h2>
          <p>Here is where a limited expert from the idea post will go. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="author_content">
            <div class ="author_img col-xl-3 col-md-3">
              <p>IMAGE</p>
            </div>
            <div class="author_info cole-xl 9 col-md-9">
              <h4>Author Name</h4>
              <h5>Ward x</h5>
            </div>
          </div>
        </div>
        <div class="love_like row">
          <ul>
            <div class="col-md-6 col-xs-6 actionBtn" style="border-right: 1px solid #eeeeee;">
              <li class="like">
                <span>LIKE</span>
              </li>
            </div>
            <div class="col-md-6 col-xs-6 actionBtn">
              <li class="love">
                <span>LOVE</span>
              </li>
            </div>
          </ul>
        </div>
      </div>

      <div class="singleCard cardCenter col-md-5">
        <div class="card_content">
          <h2>Here is where the title of the idea will go.</h2>
          <p>Here is where a limited expert from the idea post will go. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="author_content">
            <div class ="author_img col-xl-3 col-md-3">
              <p>IMAGE</p>
            </div>
            <div class="author_info cole-xl 9 col-md-9">
              <h4>Author Name</h4>
              <h5>Ward x</h5>
            </div>
          </div>
        </div>
        <div class="love_like row">
          <ul>
            <div class="col-md-6 col-xs-6 actionBtn" style="border-right: 1px solid #eeeeee;">
              <li class="like">
                <span>LIKE</span>
              </li>
            </div>
            <div class="col-md-6 col-xs-6 actionBtn">
              <li class="love">
                <span>LOVE</span>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <!--
    /* ============================================================================= *
    *        CALL TO ACTION                                                          *
    * ============================================================================== */
  -->
  <!--//CALL TO ACTION MEDIUM AND LARGE SCREEN//-->
  <div class="cta-home row visible-md-block visible-lg-block visible-xl-block">
    <div class="col-md-6 col-xs-12">
      <h3 class="light">HAVE AN IDEA?</h3>
    </div>
    <div class="col-md-6 col-xs-12">
      <button type="button" class="btn-100" name="button">START A CONVERSATION</button>
    </div>
  </div>
  <!--//CALL TO ACTION MOBILE/SMALL SCREEN//-->
  <div id="cta_container" class="visible-xs-block">
    <div id="stickyCTA">
      <h4 class="light">
        <i class="ctaIcon fa-fw fa fa-plus-circle fa-2x" style=" vertical-align: middle;"aria-hidden="true"></i>
        Create an Idea</h4>
      </div>
    </div>
  </div>
</div>
</div>
