
<div id="subtopicNav" class="row">
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!Home'" type="button" class="btn-nav"> PSP Home </button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!admin-flags'" type="button" class="btn-nav"> Flagged Items </button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!admin-manage-users'" type="button" class="btn-nav"> Manage Users </button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!admin-reports'" type="button" class="btn-nav"> Graphical Data </button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!admin-topics'" type="button" class="btn-nav"> Update Topics </button>
  </div>
</div>
