<div id="subtopicNav" class="row">
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!Home'" type="button" class="btn-nav">PSP Home</button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!subtopic2'" type="button" class="btn-nav">Flagged Items</button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!subtopic5'" type="button" class="btn-nav">Manage Users</button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!subtopic3'" type="button" class="btn-nav">Graphical Data</button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!subtopic4'" type="button" class="btn-nav">Update Topics</button>
  </div>
</div>
