<div id = "mainNav">
  <div class="row">
    <!--
    /* ============================================================================= *
    *        PSP LOGO                                                              *
    *  ============================================================================= */
    -->
    <div id="logoContainer" class="col-lg-6 col-md-6 col-xs-6">
      <h2 class="logo"><a href="#!home"><i class="fa fa-users"></i> PSP</a></h2>
    </div>
    <!--
    /* ============================================================================= *
    *        LOG IN/OUT                                                              *
    *  ============================================================================= */
    -->
    <div id="loginContainer" class="col-lg-6 col-md-6 col-xs-6">
      <!--//SIGN IN BUTTONS//-->
      <button id="loginButton" onclick="location.href='#!login'" type="submit" class="btn-log">
        Login <i class="fa fa-sign-in"></i>
      </button>
      <!--//SIGN OUT BUTTONS//-->
      <!-- <button id="logoutButton" type="submit" class="btn-log">
        Logout <i class="fa fa-sign-out"></i>
      </button> -->
    </div>
  </div>
</div>
