<!-- //CHRIS -->
<div id="subtopicNav" class="row">
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!subtopic1'" type="button" class="btn-nav">subtopic1</button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!subtopic2'" type="button" class="btn-nav">subtopic2</button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!subtopic3'" type="button" class="btn-nav">subtopic3</button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!subtopic4'" type="button" class="btn-nav">subtopic4</button>
  </div>
  <div class="col-md-5ths col-xs-12">
    <button onclick="location.href='#!subtopic5'" type="button" class="btn-nav">subtopic5</button>
  </div>
</div>
<!-- //CHRIS -->
