<!--
/* ============================================================================ *
*         DESKTOP SUB NAV                                                        *
* ============================================================================= */
-->

<div id="subtopicNav" class="row visible-sm-block visible-md-block visible-lg-block" data-spy="affix" data-offset-top="130">
  <div class="col-md-2 col-sm-2">
    <button onclick="location.href='#!'" type="button" class="btn-nav">Home</button>
  </div>
  <div class="col-md-2 col-sm-2">
    <button onclick="location.href='#!subtopic1'" type="button" class="btn-nav">Subtopic 1</button>
  </div>
  <div class="col-md-2 col-sm-2">
    <button onclick="location.href='#!subtopic2'" type="button" class="btn-nav">Subtopic 2</button>
  </div>
  <div class="col-md-2 col-sm-2">
    <button onclick="location.href='#!subtopic3'" type="button" class="btn-nav">Subtopic 3</button>
  </div>
  <div class="col-md-2 col-sm-2">
    <button onclick="location.href='#!subtopic4'" type="button" class="btn-nav">Subtopic 4</button>
  </div>
  <div class="col-md-2 col-sm-2">
    <button onclick="location.href='#!subtopic5'" type="button" class="btn-nav">Subtopic 5</button>
  </div>
</div>

<!--
/* ============================================================================ *
*         MOBILE SUB NAV                                                        *
* ============================================================================= */
-->

<div class="navbar-wrapper visible-xs-block">
  <nav class="navbar navbar-inverse" style="border-radius: 0px; background-color: #333333; margin-bottom: 0px;" data-spy="affix" data-offset-top="130">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand pull left" style="color: white;">Select a Subtopic</a>
      </div>
      <div style="margin-top: 0px !important; padding-top: 0px !important;"id="navbar" class="navbar-collapse collapse">
        <ul style="margin-top: 0px !important; padding-top: 0px !important;"class="nav navbar-nav">
          <li><a href="#!" style="color: white;">Home</a>
          </li>
          <li><a href="#!subtopic1" style="color: white;">Subtopic 1</a>
          </li>
          <li><a href="#!subtopic2" style="color: white;">Subtopic 2</a>
          </li>
          <li><a href="#!subtopic3" style="color: white;">Subtopic 3</a>
          </li>
          <li><a href="#!subtopic4" style="color: white;">Subtopic 4</a>
          </li>
          <li><a href="#!subtopic5" style="color: white;">Subtopic 5</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
