
<!--
/* ============================================================================= *
*        ADMIN  NAVIGATION                                                       *
* ============================================================================= */
-->
<div ng-include="'/views/templates/adminNav.html'"></div>
<!--
/* ============================================================================= *
*        MANAGE FLAGGED ITEMS                                                    *
* ============================================================================= */
-->
<div style="background-color:#F8F8F8; padding-top: 30px; padding-bottom: 30px">
  <div class="container" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
"style="padding-top:40px; padding-bottom:40px; background-color: white; border: 1px solid #eeeeee;">
    <div class="admin-border">
      <h2 style="text-align:center;"> Manage Flagged Items </h2>
    </div>

  </div>
</div>
