
<!--
/* ============================================================================= *
*        ADMIN  NAVIGATION                                                       *
* ============================================================================= */
-->
<div ng-include="'/views/templates/adminNav.html'"></div>
<!--
/* ============================================================================= *
*        MANAGE FLAGGED ITEMS                                                    *
* ============================================================================= */
-->
<div style="background-color:#F8F8F8; padding-top: 30px; padding-bottom: 30px">
  <div class="container" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  "style="padding-top:40px; padding-bottom:40px; background-color: white; border: 1px solid #eeeeee;">
  <div class="admin-border">
    <h2 style="text-align:center;">Manage Flagged Items</h2>
  </div>

</div>
</div>

<tabl>
<div class = 'cardContainer'>
  <div class = 'container'>
    <!--//IDEACARDS SECTION//-->
    <div class="row container">
      <!-- START NG REPEAT BELOW HERE -->
      <div ng-repeat="flags in afc.ideaToFlagObject.list" class="singleCard cardCenter col-md-5">
        <div class="card_content">
          <h2>Title:<textarea placeholder="{{flags.title}}"></textarea></h2>
          <p> Description: <textarea placeholder="{{flags.ideas_description}}{{flags.comments_description}}"></textarea> </p>
          <div class="author_content">
            <div class ="author_img col-xl-3 col-md-3">
              <p> <img ng-src="{{flags.photo}}"></p>
            </div>
            <div class="author_info cole-xl 9 col-md-9">
              <h4> {{flags.name}} </h4>
              <h5> Ward {{flags.ward}} </h5>
            </div>
            <h3>Flag Comment:</h3> <p>{{flags.flag_comment}} {{flags.idea_flag_description}}</p>
          </div>
          <td class="col-xl-4 col-md-3" ng-show="flag.active">
            <button ng-click="afc.deleteItem(flags)" class="btn btn-danger btn-xs">DELETE ITEM </button>
          </td>
          <td class="col-xl-4 col-md-3" ng-hide="flag.active">
            <button ng-click="afc.reactivateUser(flags)" class="btn btn-primary btn-xs">SAVE EDIT</button>
          </td>
        </td>
        <td class="col-xl-4 col-md-3" ng-hide="flag.active">
          <button ng-click="afc.deleteFlaggedItem(flags)" class="btn btn-okay btn-xs">RESOLVED FLAG</button>
        </td>
        </div>
      </div>
    </div>
  </div>
</div>
