/*//CHRIS*/
.cardContainer {
  margin: 100px;
}

.card_content{
  padding-bottom: 40px;
  margin: 20px;

}

.actionBtn {

  background-color: #333333;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  color: white;
  text-align: center;
  cursor: hand;
}

.loveBtn {

  background-color: #333333;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  color: white;
  text-align: center;
  cursor: hand;
}

.actionBtn:hover{
  background-color: #666666 !important;
  /*color: black;*/
  vertical-align: middle;
  line-height: 60px;
  text-align: center;
  cursor: hand;
  /*opacity: .5;*/
}

ul {
    list-style:none;
    padding-left:0;
}​

.author_content{
  display: inline;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*.spacer{
  padding: 30px;
}*/

.singleCard {
  background-color: white !important;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.singleCard,  p {
  font-size: 16px !important;
}

.singleCard > h1, h2, h3, h4, h5, p{
  color: #333333 !important;
}



.cardCenter {
    display: inline-block !important;
     float: none !important;
     margin-left: auto !important;
     margin-right: auto !important;
}

.authImage {
height: 50px !important;
width: 50px !important;
border-radius: 30px !important;
}
/*//CHRIS*/
