/*google auth profile image*/
.authImage {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

/*nav bar*/
#navBar {
  width: 100%;
}

/*home view add idea div*/
.haveIdeaHome {
  text-align: center;
}

/*subtopic div element*/
.subtopicDiv {
  text-align: center;
}

/*idea main element*/
.ideaMain {
  text-align: center;
}
