<div style="background-color:#F8F8F8; padding-top: 30px; padding-bottom: 30px">
  <div class="container" style="padding-top:40px; padding-bottom:40px; background-color: white; border: 1px solid #eeeeee;d">
    <h2 style="text-align:center; padding-top: 30px; padding-bottom: 30px;">Manage Users</h2>

    <div class = "search-bar" align="center">
      <input class="searchInput" placeholder"Search User by Name"></input>
      <button class="btn-src">Search</button>
    </div>
    <!-- <table ng-repeat="user in amuc.allUsers.list"> -->
    <table class="usersTable" align="center">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Ward</th>
        <th>Flags</th>
        <th>Active</th>
        <th>Activate/Deactivate</th>
      </tr>
      <tr>
        <td>user.name</td>
        <td>user.email</td>
        <td>user.ward</td>
        <td>Flags TBD</td>
        <td>user.active</td>
        <td>
          <button class="btn btn-danger btn-xs">Deactivate</button>
          <!-- <button ng-click="amuc.deactivateUser(user.id)" class="btn btn-danger btn-xs" ng-show="user.active">Deactivate</button> -->
        </td>
      </tr>
      <tr>
        <td>user.name</td>
        <td>user.email</td>
        <td>user.ward</td>
        <td>Flags TBD</td>
        <td>user.active</td>
        <td>
          <button class="btn btn-danger btn-xs">Deactivate</button>
          <!-- <button ng-click="amuc.deactivateUser(user.id)" class="btn btn-danger btn-xs" ng-show="user.active">Deactivate</button> -->
        </td>
      </tr>
      <tr>
        <td>user.name</td>
        <td>user.email</td>
        <td>user.ward</td>
        <td>Flags TBD</td>
        <td>user.active</td>
        <td>
          <button class="btn btn-danger btn-xs">Deactivate</button>
          <!-- <button ng-click="amuc.deactivateUser(user.id)" class="btn btn-danger btn-xs" ng-show="user.active">Deactivate</button> -->
        </td>
      </tr>
      <tr>
        <td>user.name</td>
        <td>user.email</td>
        <td>user.ward</td>
        <td>Flags TBD</td>
        <td>user.active</td>
        <td>
          <button class="btn btn-danger btn-xs">Deactivate</button>
          <!-- <button ng-click="amuc.deactivateUser(user.id)" class="btn btn-danger btn-xs" ng-show="user.active">Deactivate</button> -->
        </td>
      </tr>
      <tr>
        <td>user.name</td>
        <td>user.email</td>
        <td>user.ward</td>
        <td>Flags TBD</td>
        <td>user.active</td>
        <td>
          <button class="btn btn-danger btn-xs">Deactivate</button>
          <!-- <button ng-click="amuc.deactivateUser(user.id)" class="btn btn-danger btn-xs" ng-show="user.active">Deactivate</button> -->
        </td>
      </tr>
      <tr>
        <td>user.name</td>
        <td>user.email</td>
        <td>user.ward</td>
        <td>Flags TBD</td>
        <td>user.active</td>
        <td>
          <button class="btn btn-danger btn-xs">Deactivate</button>
          <!-- <button ng-click="amuc.deactivateUser(user.id)" class="btn btn-danger btn-xs" ng-show="user.active">Deactivate</button> -->
        </td>
      </tr>
      <tr>
        <td>user.name</td>
        <td>user.email</td>
        <td>user.ward</td>
        <td>Flags TBD</td>
        <td>user.active</td>
        <td>
          <button class="btn btn-danger btn-xs">Deactivate</button>
          <!-- <button ng-click="amuc.deactivateUser(user.id)" class="btn btn-danger btn-xs" ng-show="user.active">Deactivate</button> -->
        </td>
      </tr>
    </table>
  </div>
</div>
